<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ervas | Amores em Sabores</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100&display=swap" rel="stylesheet">

<body>

    <header class="header1"><!-- Cabeçalho -->

        <div class="container">

            <div class="menu-topo"><!-- Abrindo menu topo -->

                <a href="index.html">
                    <div class="logo"></div>
                </a>

                <nav class="desktop"><!-- barra de navegação -->

                    <ul><!-- Criando uma lista na barra de navegação -->

                        <li class="btn-mais"><a href="index.html #sobre">Sobre</a></li><!-- topicos da lista -->
                        <li class="btn-mais"><a href="index.html #sugestao">Sugestão</a></li>
                        <li class="btn-mais"><a href="ver_prod.html">Produtos</a></li>
                        <li class="btn-mais"><a href="#contatov">Contato</a></li>

                    </ul><!-- /Lista na barra de navegação -->

                </nav><!-- /barra de navegação -->

                <nav class="mobile"><!-- barra de navegação | MOBILE -->

                    <i class="fa fa-reorder" style="font-size:24px"></i>

                    <ul><!-- Criando uma lista na barra de navegação | MOBILE -->

                        <li class="btn-mais"><a href="#sobre">Sobre</a></li><!-- topicos da lista -->
                        <li class="btn-mais"><a href="#sugestao">Sugestões</a></li>
                        <li class="btn-mais"><a href="ver_prod.html">Produtos</a></li>
                        <li class="btn-mais"><a href="#contatov">Contato</a></li>

                    </ul><!-- /Lista na barra de navegação | MOBILE-->


                </nav><!-- /barra de navegação | MOBILE -->

            </div><!-- /menu-topo -->

        </div>
        
    </header>

    <section class="titulo_topo"><!-- Título "PRODUTOS" -->
        <p>ERVAS</p>
    </section>

    </a>

    <section class="sessao-v03"><!-- Catalogo Produtos -->

        <div class="prod-e1"><!-- Textos produto 1 -->

            <h1>Alecrim</h1>

            <p>Alecrim é uma erva fortemente aromática e é com esse aroma, que o alecrim alegra a alma e cura o corpo.
                De sabor fresco, doce e ligeiramente amargo, é um tempero popular usado em vários países do ocidente
                especialmente ao longo do Mediterrâneo (Itália e França).</p>

            <a href=""><input type="submit" value="Comprar!" class="active"></a><!-- adicionando botão de compra -->

        </div>

        <div class="prod-e2"><!-- Textos produto 2 -->

            <h1>Orégano</h1>

            <p>Orégano é uma erva do Mediterrâneo, seu aroma e sabor são únicos e levemente picante. Utilizada nas
                cozinhas do mundo todo, está presente principalmente em pratos italianos, portugueses, espanhóis,
                franceses e gregos.
            </p>

            <a href=""><input type="submit" value="Comprar!" class="active"></a><!-- adicionando botão de compra -->

        </div>


        <div class="prod-e3"><!-- Textos produto 3 -->

            <h1>Ervas Finas</h1>

            <p>Ervas Finas ao contrário do que o nome possa indicar, é muito utilizada no dia a dia. É um mix de ervas
                que proporcionam aroma e sabor intenso dando um toque especial aos seus pratos.</p>

            <a href=""><input a="" type="submit" value="Comprar!"
                    class="active"></a><!-- adicionando botão de compra -->

        </div>

        <div class="prod-e4"><!-- Textos produto 4 -->

            <h1>Ervas de Provence</h1>

            <p>Ervas de Provence é originária do sul da França, é uma combinação de ervas característica desta região.
                Tem sabor marcante e aroma inesquecível.</p>

            <a href=""><input type="submit" value="Comprar!" class="active"></a><!-- adicionando botão de compra -->

        </div>

        <div class="prod-e5"><!-- Textos produto 5 -->

            <h1>Salsa</h1>

            <p>Salsa é originária da Europa e foi trazida para o Brasil pelos colonizadores portugueses. É versátil,
                intensifica os sabores dos alimentos e ótima para finalização e decoração de pratos.
            </p>

            <a href=""><input type="submit" value="Comprar!" class="active"></a><!-- adicionando botão de compra -->

        </div>


        <div class="prod-e6"><!-- Textos produto 6 -->

            <h1>Manjericão</h1>

            <p>Manjericão é uma erva nativa da Ásia, aromática com sabor suave e levemente picante.
            </p>

            <a href=""><input a="" type="submit" value="Comprar!"
                    class="active"></a><!-- adicionando botão de compra -->

        </div>

    </section>

    <footer id="contatov" class="footerv"><!-- footer -->

        <div class="footer-div">
            <h2>AMORES EM SABORES</h2>

            <P>Email: amores_sabores@gmail.com</P>
            <p>Tel: (11) 4702-8922</p>
            <p>TODOS DIREITOS DO RESERVADOS!</p>

        </div>

    </footer>
</body>

</html>