<!DOCTYPE html>
<html lang="en">

<head>
    <title>Amores em sabores | Início</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

    <header><!-- Cabeçalho -->

        <div class="container">

            <div class="menu-topo"></a><!-- Abrindo menu topo -->

                <a href="index.html">
                    <div class="logo"></div>
                </a>

                <nav class="desktop"><!-- barra de navegação | DESKTOP -->

                    <ul><!-- Criando uma lista na barra de navegação -->

                        <li class="btn-mais"><a href="#sobre">Sobre</a></li><!-- topicos da lista -->
                        <li class="btn-mais"><a href="#sugestao">Sugestões</a></li>
                        <li class="btn-mais"><a href="ver_prod.html">Produtos</a></li>
                        <li class="btn-mais"><a href="#contatov">Contato</a></li>

                    </ul><!-- /Lista na barra de navegação -->

                </nav><!-- /barra de navegação | DESKTOP -->

                <nav class="mobile"><!-- barra de navegação | MOBILE -->

                    <i class="fa fa-reorder" style="font-size:24px"></i>

                    <ul><!-- Criando uma lista na barra de navegação | MOBILE -->

                        <li class="btn-mais"><a href="#sobre">Sobre</a></li><!-- topicos da lista -->
                        <li class="btn-mais"><a href="#sugestao">Sugestões</a></li>
                        <li class="btn-mais"><a href="ver_prod.html">Produtos</a></li>
                        <li class="btn-mais"><a href="#contatov">Contato</a></li>

                    </ul><!-- /Lista na barra de navegação | MOBILE-->


                </nav><!-- /barra de navegação | MOBILE -->

            </div><!-- /menu-topo -->

            <div class="chamada-mkt"><!-- texto para atrair atenção -->

                <h2> Encontre temperos de alta qualidade 100% naturais.</h2>

                <p> Mais amor, cor e sabor para sua comida!</p>

                <!-- Formulario da campanha abaixo -->

                <form action=""><!-- Iniciando formulario -->

                    <input type="email" placeholder="Insira seu e-mail..."><!-- Definindo campo de e-mail -->
                    <input type="submit" value="Login">

                </form><!-- /formulario -->
            </div>

        </div>

    </header><!-- /cabeçalho -->

    <section id="sobre" class="sessao-01"> <!-- Primeira Sessão -->

        <div class="container"><!-- container de descrição do produto -->

            <div class="des-produto"><!-- descrição do produto -->

                <h3>
                    Nossa empresa tem o propósito de trazer mais sabor para sua mesa de uma maneira mais saúdavel.<br>
                    Temperos sem misturas, sem conservantes e sem sódio!
                </h3>

                <p>Monte seu kit de temperos e mude seu jeito de cozinhar.</p>
            </div><!-- /descriçã produto -->

            <img src="img/chimicp.png" alt="chimcichurriSpimenta" title="chimcichurriSpimenta">
            <div class="clear"></div>

        </div>

    </section><!-- /Primeira sessão -->

    <section class="sessao-02"><!-- Segunda sessão -->

        <div class="container"><!-- container de feedback -->

            <div class="feedback"><!-- feedback -->

                <p>"Custo-benefício! Sem dúvidas um dos melhores achados, pra quem é amante da culinária
                    vai entender.<br>
                    Produtos super bem embalados, dá pra ver o capricho do vendedor.<br>
                    O cheirinho quando abri a caixa é sensacional! Parabéns ao vendedor pelo carinho"</p>

            </div><!-- /feedback -->


        </div><!-- /container de feedback -->

    </section>

    <section id="sugestao" class="sessao-03"><!-- Terceira sessão -->

        <div class="prod-1"><!-- Textos produto 1 -->

            <h1>Pimentas</h1>

            <p>As pimentas são fonte de vitamina C (que melhora o desempenho do sistema imunológico), vitamina E (também
                conhecida como antioxidante natural) e vitamina A (que tem como função principal a melhora da visão).
            </p>

            <a href="pimentas.html"><input type="submit" value="Ver Mais!"
                    class="active"></a><!-- adicionando botão de compra -->

        </div>

        <div class="prod-2"><!-- Textos produto 2 -->

            <h1>Ervas</h1>

            <p>As ervas são utilizadas para realçar o sabor da comida, conferir mais complexidade e até mesmo decorar um
                prato. Muitas delas passaram a ser combinadas em misturas diversas que podem ser chamadas tanto de ervas
                finas como de ervas de Provence.</p>

            <a href="ervas.html"><input type="submit" value="Ver Mais!"
                    class="active"></a><!-- adicionando botão de compra -->

        </div>


        <div class="prod-3"><!-- Textos produto 3 -->

            <h1>Temperos</h1>

            <p>Condimento ou tempero é uma substância que é acrescentada a um alimento, para emprestar-lhe sabor, aroma,
                cor ou realçar o seu paladar.</p>

            <a href="temperos.html"><input a="" type="submit" value="Ver Mais!"
                    class="active"></a><!-- adicionando botão de compra -->

        </div>


    </section>

    <section class="parceiros"><!-- adicionando imagens de parceiros -->

        <p>Conheça alguns de <spam> nossos </spam> parceiros</p>

        <div class="parc1"></div>

        <div class="parc2"></div>

        <div class="parc3"></div>

        <div class="parc4"></div>

    </section>

    <footer id="contatov" class="footerv"><!-- footer -->

        <div class="footer-div">
            <h2>AMORES EM SABORES</h2>

            <P>Email: amores_sabores@gmail.com</P>
            <p>Tel: (11) 4702-8922</p>
            <p>TODOS DIREITOS DO RESERVADOS!</p>

        </div>

    </footer>

</body>

</html>