<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pimentas | Amores em Sabores</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100&display=swap" rel="stylesheet">

<body>

    <header class="header1"><!-- Cabeçalho -->

        <div class="container">

            <div class="menu-topo"><!-- Abrindo menu topo -->

                <a href="index.html">
                    <div class="logo"></div>
                </a>

                <nav class="desktop"><!-- barra de navegação -->

                    <ul><!-- Criando uma lista na barra de navegação -->

                        <li class="btn-mais"><a href="index.html #sobre">Sobre</a></li><!-- topicos da lista -->
                        <li class="btn-mais"><a href="index.html #sugestao">Sugestão</a></li>
                        <li class="btn-mais"><a href="ver_prod.html">Produtos</a></li>
                        <li class="btn-mais"><a href="#contatov">Contato</a></li>

                    </ul><!-- /Lista na barra de navegação -->

                </nav><!-- /barra de navegação -->

            </div><!-- /menu-topo -->
    </header>

    <section class="titulo_topo"><!-- Título "PRODUTOS" -->
        <p>PIMENTAS</p>
    </section>

    </a>

    <section class="sessao-v03"><!-- Catalogo Produtos -->

        <div class="prod-p1"><!-- Textos produto 1 -->

            <h1>Pimenta Preta</h1>

            <p>Pimenta-do-Reino ou Pimenta Preta originária da Índia é conhecida como a rainha das especiarias por ser o
                condimento mais usado no mundo todo. Possui uma fragrância intensa, frutada, com tonalidades amadeiradas
                e cítricas. O paladar é picante, quente e quando utilizada em quantidades moderadas e balanceadas, tende
                a realçar o sabor dos alimentos e de outros temperos.</p>

            <a href=""><input type="submit" value="Comprar!" class="active"></a><!-- adicionando botão de compra -->

        </div>

        <div class="prod-p2"><!-- Textos produto 2 -->

            <h1>Pimenta Branca</h1>

            <p>Pimenta-do-Reino Branca ou Pimenta Branca originária da Índia é o mesmo fruto que a Pimenta-do-Reino,
                porém colhida em períodos diferentes, passa por um processo de imersão em água corrente para retirada da
                casca e polpa, resultando em uma semente esbranquiçada e lisa, deixando seu sabor mais brando e suave.
            </p>

            <a href=""><input type="submit" value="Comprar!" class="active"></a><!-- adicionando botão de compra -->

        </div>


        <div class="prod-p3"><!-- Textos produto 3 -->

            <h1>Pimenta Rosa</h1>

            <p>Pimenta Rosa é um fruto da aroeira e nativa da América do Sul. Embora seja suavemente picante, não chega
                a ser ardida como uma pimenta de verdade. Possui uma película delicada e quebradiça, mas a surpresa está
                em sua semente que é bastante aromática permitindo um toque adocicado e frutado em seu sabor.</p>

            <a href=""><input a="" type="submit" value="Comprar!"
                    class="active"></a><!-- adicionando botão de compra -->

        </div>

        <div class="prod-p4"><!-- Textos produto 4 -->

            <h1>Mix Pimentas</h1>

            <p>Pimenta do Reino Preta, Pimenta do Reino Branca, Pimenta da Jamaica e Pimenta Rosa</p>

            <a href=""><input type="submit" value="Comprar!" class="active"></a><!-- adicionando botão de compra -->

        </div>

        <div class="prod-p5"><!-- Textos produto 5 -->

            <h1>Pimenta Verde</h1>

            <p>Tanto a pimenta-do-reino verde quanto a preta são colhidas em um mesmo estágio de maturação da fruta.
                A principal diferença entre as duas está no processo de desidratação: enquanto a preta é seca ao sol, a
                verde é rapidamente desidratada para que sua cor seja preservada.
                O sabor dessa pimenta verde em grãos é mais suave e mais frutado do que o sabor da preta, e é a mais
                aromática dentre todas Pimentas do Reino.

            </p>

            <a href=""><input type="submit" value="Comprar!" class="active"></a><!-- adicionando botão de compra -->

        </div>


        <div class="prod-p6"><!-- Textos produto 6 -->

            <h1>Pimenta Jamaica</h1>

            <p>Pimenta da Jamaica é considerada uma falsa pimenta por não conter a piperina, o elemento ativo da pimenta
                preta. Devido ao seu sabor pouco picante e ligeiramente adocicado, seu aroma nos remete a uma mescla de
                cravo e canela e seu formato lembra a pimenta do reino.
            </p>

            <a href=""><input a="" type="submit" value="Comprar!"
                    class="active"></a><!-- adicionando botão de compra -->

        </div>

    </section>

    <footer id="contatov" class="footerv"><!-- footer -->

        <div class="footer-div">
            <h2>AMORES EM SABORES</h2>

            <P>Email: amores_sabores@gmail.com</P>
            <p>Tel: (11) 4702-8922</p>
            <p>TODOS DIREITOS DO RESERVADOS!</p>

        </div>

    </footer>
</body>

</html>