<!DOCTYPE html>
<html lang="en">

<head>
    <title>Temperos | Amores em Sabores</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100&display=swap" rel="stylesheet">

<body>

    <header class="header1"><!-- Cabeçalho -->

        <div class="container">

            <div class="menu-topo"><!-- Abrindo menu topo -->

                <a href="index.html">
                    <div class="logo"></div>
                </a>

                <nav class="desktop"><!-- barra de navegação -->

                    <ul><!-- Criando uma lista na barra de navegação -->

                        <li class="btn-mais"><a href="index.html #sobre">Sobre</a></li><!-- topicos da lista -->
                        <li class="btn-mais"><a href="index.html #sugestao">Sugestão</a></li>
                        <li class="btn-mais"><a href="ver_prod.html">Produtos</a></li>
                        <li class="btn-mais"><a href="#contatov">Contato</a></li>

                    </ul><!-- /Lista na barra de navegação -->

                </nav><!-- /barra de navegação -->

            </div><!-- /menu-topo -->
    </header>

    <section class="titulo_topo"><!-- Título "PRODUTOS" -->
        <p>TEMPEROS</p>
    </section>

    </a>

    <section class="sessao-v03"><!-- Catalogo Produtos -->

        <div class="prod-v1"><!-- Textos produto 1 -->

            <h1>Ana maria</h1>

            <p>Ana Maria é um tempero querido por nós chefs do dia a dia por ser prático e versátil. Sabor inesquecível,
                dúvido você não gostar!
            </p>

            <a href=""><input type="submit" value="Comprar!" class="active"></a><!-- adicionando botão de compra -->

        </div>

        <div class="prod-v2"><!-- Textos produto 2 -->

            <h1>Chimichurri S/ Pimenta</h1>

            <p>Chimichurri sem pimenta é um tempero de origem uruguaia e querido por nossos hermanos. Traz um toque
                especial e saboroso aos pratos do seu dia a dia.
            </p>

            <a href=""><input type="submit" value="Comprar!" class="active"></a><!-- adicionando botão de compra -->

        </div>


        <div class="prod-v3"><!-- Textos produto 3 -->

            <h1>Cúrcuma</h1>

            <p>Cúrcuma também conhecida como Açafrão-da-terra é nativa da Ásia. A parte usada como especiaria é a raiz
                que é limpa, seca e moída. Muito usada nas culinárias indiana e asiática por ter sabor amadeirado e
                terroso, acrescenta cor vibrante aos pratos. Combina com legumes, vegetais e proteínas além de trazer
                benefícios medicinais fantásticos.
            </p>

            <a href=""><input a="" type="submit" value="Comprar!"
                    class="active"></a><!-- adicionando botão de compra -->

        </div>

        <div class="prod-v4"><!-- Textos produto 4 -->

            <h1>Garam Massala</h1>

            <p>Garam Massala é um tempero de origem Asiática, popularmente conhecido pela culinária Indiana. Traz uma
                experiência marcante com sua intensidade de aromas e sabores, criado através de uma mistura exótica de
                especiarias, é uma excelente opção para quem deseja algo surpreendente e picante.</p>

            <a href=""><input type="submit" value="Comprar!" class="active"></a><!-- adicionando botão de compra -->

        </div>

        <div class="prod-v5"><!-- Textos produto 5 -->

            <h1>Lemon Pepper</h1>

            <p>Lemon Pepper é a combinação de especiarias ideal para quem busca uma pitada cítrica nas receitas do dia a
                dia.
            </p>

            <a href=""><input type="submit" value="Comprar!" class="active"></a><!-- adicionando botão de compra -->

        </div>


        <div class="prod-v6"><!-- Textos produto 6 -->

            <h1>DryRub p/ Aves</h1>

            <p>Dry Rub Aves é um tempero desenvolvido para que aquele "franguinho" do seu churrasco também vire uma
                estrela. A alquimia das ervas e especiarias em pó, proporciona cor e sabor especial nas aves e vegetais.
                O melhor é que pode ser utilizado em proteínas e vegetais na churrasqueira, ayr fryer ou no seu grelhado
                do dia a dia.
            </p>

            <a href=""><input a="" type="submit" value="Comprar!"
                    class="active"></a><!-- adicionando botão de compra -->

        </div>

    </section>

    <footer id="contatov" class="footerv"><!-- footer -->

        <div class="footer-div">
            <h2>AMORES EM SABORES</h2>

            <P>Email: amores_sabores@gmail.com</P>
            <p>Tel: (11) 4702-8922</p>
            <p>TODOS DIREITOS DO RESERVADOS!</p>

        </div>

    </footer>
</body>

</html>